<body class='contrast-red login contrast-background'>
  <div class='middle-container'>
    <div class='middle-row'>
      <div class='middle-wrapper'>
        <div class='login-container-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                  <%= image_tag "bigchicken.png", :size => '120x120', :style => "background-color: transparent; border: none;" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='login-container'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-4'>
                <h1 class='text-center title'>Forgot Password?</h1>
                <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                  <%= devise_error_messages! %>

                  <div class='form-group'>
                    <div class='controls with-icon-over-input'>
                      <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email' %>
                      <i class='icon-envelope text-muted'></i>
                    </div>
                  </div>

                  <div><%= f.submit "Send me reset password instructions", :class => 'btn btn-block' %></div>
                <% end %>
                <div class='text-center'>
                  <hr class='hr-normal'>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='login-container-footer'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                  New to Loop'dIn? <%= link_to ' Sign up', new_user_registration_path, :class => 'icon-user' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



