<div id="wrapper">
  <section id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->
        <div class="row col-sm-12">
          <div class='col-sm-12'>
            <h1>Projects  <%= link_to " Add Project", new_user_project_path(@user), :class => 'btn btn-primary btn-large icon-plus-sign pull-right' %></h1>
          </div>
        </div>
        <div class="row col-sm-12">
          <div class='box-content'>
            <% @projects.each do |project| %>
              <div class="col-sm-4 <%= project.aasm_state %> <%= "collaboration" if project.user_id != current_user.id %>">
                <div class="box box-collapsed box-bordered">
                  <div class="box-header red-background">
                    <div class="title">
                      <%= link_to project.title, user_project_path(project.user, project.id) %>
                    </div>
                    <div class="actions">
                      <a class="btn box-collapse btn-xs btn-link" href="#"><i></i> </a>
                    </div>
                  </div>
                  <div class="box-content">
                    <h4><%= project.description %></h4>
                    <h4>Status: <%= project.aasm_state.titleize %></h4>
                    <% if project.versions.present? && project.versions.first.comments.present? %>
                      <h4>Comments on latest version: <%= project.versions.first.comments.count %></h4>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div><!--/row-->
    </div>
  </section>
</div>

