<head>
  <script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
  <script src="http://toolness.github.com/instapoppin/instapoppin.js"></script>
  </script>
</head>
<div id="wrapper">
  <section id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->
        <div class="span10">
          <div class='col-sm-12'>
            <h1><%= @project.title %>: <%= @project.aasm_state.titleize %>  <%= (link_to "Add Version", new_user_project_version_path(@project.user, @project), :class => 'btn btn-primary btn-large icon-plus-sign pull-right') if @project.user_id == current_user.id %></h1>
          </div>
          <div class='tabbable'>
            <ul class='nav nav-responsive nav-tabs'>

              <% @project.versions.each do |version| %>
                <li class="<%= 'active' if version.id == @project.versions.first.id %>">
                <a data-toggle='tab' href="#retab<%= version.id %>" >
                    <%= version.title %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @project.versions.each do |version| %>
                <div class="tab-pane <%= 'active' if version.id == @project.versions.first.id %>" id="retab<%= version.id %>">
                  <h2><%= version.description %>: <span><%= version.approved ? 'Approved' : 'In Progress' %></span></h2>
                  <div class='row col-sm-12'>
                    <div class='col-sm-10'>
                      <%= video_tag(version.file.url, id: "video-#{version.id}", controls: true, autobuffer: true, width: '100%' ) if version.file.present? %>
                    </div>
                    <div class='col-sm-2' id="footer-<%= version.id %>"></div>
                  </div>
                  <div class='row col-sm-12'>
                    <% if can_comment_on_project?(@project) && @project.aasm_state != 'approved' %>
                      <div class='col-sm-5'>
                        <%= link_to " Add Comment", new_user_project_version_comment_path(@project.user, @project, version), :class => 'btn btn-primary btn-large icon-plus-sign' %>
                      </div>
                      <div class='col-sm-5'>
                        <div class='pull-right'>
                          <a class="btn btn-success approve" data-placement='top' href='#' title='Approve!' id="<%= version.id %>-approve">
                            Approve!
                            <i class='icon-thumbs-up'></i>
                          </a>
                          <a class='btn btn-danger needs-work' data-placement='top' href='#' title='needs work' id="<%= version.id %>-needs-work">
                            Needs work
                            <i class='icon-thumbs-down'></i>
                          </a>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class='row col-sm-12'>
                    <% version.comments.each do |comment| %>
                      <script>
                        Popcorn.player("baseplayer");
                        var popcorn = Popcorn( "#video-<%= version.id %>" );

                        popcorn.footnote({
                          start: <%= comment.start_time %>,
                          end: <%= comment.start_time + 5 %>,
                          target: "footer-<%= version.id %>",
                          text: "<h3><%= comment.text %></h3><h6><%= comment.user.username %></h6>"
                        });
                      </script>

                    <% end %>
                    <%= render partial: 'comments', locals: {version: version} %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-sm-12'>
            <div class='box'>
              <div class='row todo-list collaborator-list'>
                <div class='col-sm-10'>
                  <div class='box'>
                    <div class='box-content box-no-padding'>
                      <h4>Project Collaborators</h4>
                      <form class="new-todo" method="put" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><input class='form-control' id='username' name='user[username]' placeholder='add username...' type='text'>
                        <button class='btn btn-success' type='submit'>
                          <i class='icon-plus'></i>
                        </button>
                      </form>
                      <ul class='list-unstyled ' >
                        <% @project.collabos.each do |collaborator| %>
                          <li class='item collaborator' id="<%= collaborator.id %>">
                            <label class='pull-left todo'>
                              <span><%= link_to collaborator.username, user_projects_path(collaborator) %></span>
                            </label>
                            <div class='actions pull-right'>
                              <a class='btn btn-link remove has-tooltip' data-placement='top' href='#' title='Remove collaborator' id="<%= collaborator.id %>-delete" <%= 'disabled' unless can_remove_collaborators?(@project) %>>
                                <i class='icon-remove'></i>
                              </a>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!--/row-->
    </div>
  </section>
</div>


<script>
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  $(".todo-list .new-todo").live('submit', function(e) {
    var li, username;
    username = $(this).find("#username").val();
    $(this).find("#username").val("");
    if (username.length !== 0) {
      $.ajax({
        url: "/users/<%= @project.owner.slug %>/projects/<%= @project.slug %>?add_user=true&username=" + username,
        type: "put",
        dataType: "json",
        data: {"_method":"update"}
      });
      li = $(this).parents(".todo-list").find("li.collaborator").first().clone();
      li.find("label.todo span").text(username);
      li.removeClass('important');
      $(".collaborator-list ul").first().prepend(li);
      li.effect("highlight", {}, 500);
    }
    return e.preventDefault();
  });

  $(".todo-list .actions .remove").live("click", function(e) {
    var username = $(this).parents('li').first().children().first()[0].innerText;
    $(this).tooltip("hide");
    $(this).parents("li").fadeOut(500, function() {
      return $(this).remove();
    });
    $.ajax({
      url: "/users/<%= @project.owner.slug %>/projects/<%= @project.slug %>?remove_user=true&username=" + username,
      type: "put",
      dataType: "json",
      data: {"_method":"update"}
    });
    e.stopPropagation();
    e.preventDefault();
    return false;
  });

  $(".approve").click(function() {
    alert('Approved!');
    $.ajax({
      url: "/users/<%= @project.user.id %>/projects/<%= @project.id %>/versions/" + parseInt(this.id) + "?approved=true",
      type: "put",
      dataType: "json",
    });
  });

  $(".needs-work").click(function() {
    alert('Sent back for revisions!');
    $.ajax({
      url: "/users/<%= @project.user.id %>/projects/<%= @project.id %>/versions/" + parseInt(this.id) + "?needs_work=true",
      type: "put",
      dataType: "json",
    });
  });

</script>
