<div id="wrapper">
  <section id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->
        <div class="span10">
          <h1> <%= @project.title %> </h1>
          <h4><%= link_to "Add Version", new_user_project_version_path(@user, @project), :class => 'btn btn-primary btn-large icon-plus-sign' %></h4>
          <div class='tabbable'>
            <!-- responsive tabs definition -->
            <ul class='nav nav-responsive nav-tabs'>

              <!-- tab element -->
              <% @project.versions.each do |version| %>
                <li class="<%= 'active' if version.id == @project.versions.first.id %>">
                <a data-toggle='tab' href="#retab<%= version.id %>" >
                    <%= version.title %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @project.versions.each do |version| %>
                <div class="tab-pane<%= ' active' if version.id == @project.versions.first.id %>" id="retab<%= version.id %>">
                  <p><%= video_tag(version.file.url, controls: true, autobuffer: true, width: 960, height: 540 ) if version.file.present? %></p>
                  <p><%= version.description %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div><!--/row-->
    </div>
  </section>
</div>
