<head>
  <script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>
  <script src="http://toolness.github.com/instapoppin/instapoppin.js"></script>
  </script>
</head>
<div id="wrapper">
  <section id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->
        <div class="span10">
          <div class='col-sm-12'>
            <% if @project.user.id == current_user.id %>
              <h1><%= @project.title %>  <%= link_to "Add Version", new_user_project_version_path(@project.user, @project), :class => 'btn btn-primary btn-large icon-plus-sign pull-right' %></h1>
            <% end %>
          </div>
          <div class='tabbable'>
            <ul class='nav nav-responsive nav-tabs'>

              <% @project.versions.each do |version| %>
                <li class="<%= 'active' if version.id == @project.versions.first.id %>">
                <a data-toggle='tab' href="#retab<%= version.id %>" >
                    <%= version.title %>
                  </a>
                </li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% @project.versions.each do |version| %>
                <div class="tab-pane <%= 'active' if version.id == @project.versions.first.id %>" id="retab<%= version.id %>">
                  <h2><%= version.description %></h2>
                  <div class='row col-sm-12'>
                    <div class='col-sm-10'>
                      <%= video_tag(version.file.url, id: "video-#{version.id}", controls: true, autobuffer: true, width: '100%' ) if version.file.present? %>
                    </div>
                    <div class='col-sm-2' id="footer-<%= version.id %>"></div>
                  </div>
                  <div class='row col-sm-12'>
                    <% if can_comment_on_project?(@project) %>
                      <div class='col-sm-5'>
                        <%= link_to " Add Comment", new_user_project_version_comment_path(@project.user, @project, version), :class => 'btn btn-primary btn-large icon-plus-sign' %>
                      </div>
                      <div class='col-sm-5'>
                        <div class='pull-right'>
                          <a class="btn btn-success approve" data-placement='top' href='#' title='Approve!' id="<%= version.id %>-approve">
                            Approve!
                            <i class='icon-thumbs-up'></i>
                          </a>
                          <a class='btn btn-danger needs-work' data-placement='top' href='#' title='needs work' id="<%= version.id %>-needs-work">
                            Needs work
                            <i class='icon-thumbs-down'></i>
                          </a>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <div class='row col-sm-12'>
                    <% version.comments.each do |comment| %>
                      <script>
                        Popcorn.player("baseplayer");
                        var popcorn = Popcorn( "#video-<%= version.id %>" );

                        popcorn.footnote({
                          start: <%= comment.start_time %>,
                          end: <%= comment.start_time + 5 %>,
                          target: "footer-<%= version.id %>",
                          text: "<h3><%= comment.text %></h3><h6><%= comment.user.username %></h6>"
                        });
                      </script>

                    <% end %>
                    <%= render partial: 'comments', locals: {version: version} %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="span2">
          <h4>Project Collaborators</h4>
          <ul>
            <% @project.collabos.each do |collaborator| %>
              <li><%= link_to collaborator.username, user_projects_path(collaborator) %></li>
            <% end %>
          </ul>
        </div>
      </div><!--/row-->
    </div>
  </section>
</div>


<script>
  $.ajaxSetup({
    headers: {
      'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    }
  });

  $(".approve").click(function() {
    $.ajax({
      url: "/users/<%= @project.user.id %>/projects/<%= @project.id %>/versions/" + parseInt(this.id) + "?approved=true",
      type: "put",
      dataType: "json",
    });
  });

  $(".needs-work").click(function() {
    $.ajax({
      url: "/users/<%= @project.user.id %>/projects/<%= @project.id %>/versions/" + parseInt(this.id) + "?needs_work=true",
      type: "put",
      dataType: "json",
    });
  });

</script>
