<body class='contrast-red login contrast-background'>
  <div class='middle-container'>
    <div class='middle-row'>
      <div class='middle-wrapper'>
        <div class='login-container-header'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                  <%= image_tag "bigchicken.png", :size => '120x120' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='login-container'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-4 col-sm-offset-4'>
                <h1 class='text-center title'>Sign in</h1>
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'validate-form') do |f| %>
                  <%= devise_error_messages! %>
                  <div class='form-group'>
                    <div class='controls with-icon-over-input'>
                      <%= f.text_field :username, :autofocus => true, :class => 'form-control', :placeholder => 'Username' %>
                      <i class='icon-user text-muted'></i>
                    </div>
                  </div>
                  <div class='form-group'>
                    <div class='controls with-icon-over-input'>
                      <%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
                      <i class='icon-lock text-muted'></i>
                    </div>
                  </div>
                  <div class='checkbox'>
                    <% if devise_mapping.rememberable? -%>
                      <div><%= f.check_box :remember_me, :id => 'remember_me' %> <%= f.label :remember_me %></div>
                    <% end -%>
                  </div>

                  <div><%= f.submit "Sign in", :class => 'btn btn-block' %></div>
                <% end %>
                <div class='text-center'>
                  <hr class='hr-normal'>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='login-container-footer'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='text-center'>
                  New to Loop'dIn? <%= link_to ' Sign up', new_user_registration_path, :class => 'icon-user' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


