<header>
  <nav class="navbar navbar-default">
    <%= link_to image_tag("big_chicken_white.png", :height => 25, :width => 25, :alt => 'logo', :title => 'logo'), user_projects_path(current_user), :class => 'navbar-brand logo' %>
    <!-- dropdowns -->
    <a class='toggle-nav btn pull-left' href='#'>
      <i class='icon-reorder'></i>
    </a>
    <ul class="nav">
      <li class="dropdown dark user-menu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="user-name">
            <i class="icon-cogs"> info</i>
          </span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <% @user.group_admin.each do |group_admin| %>
            <li>
              <%= link_to "Group #{group_admin.title}", edit_group_path(group_admin) %>
            </li>
          <% end %>
          <li>
            <%= link_to "Edit #{@user.username}", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'get' %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <nav id="main-nav">
    <div class='navigation'>
      <ul class='nav nav-stacked'>
        <% if request.path == "/users/#{current_user.username}/projects" %>
          <li><a href='#' class='icon-beaker nav-hideable' id='in-progress'><span> mine in progress</span></a></li>
          <li><a href='#' class='icon-group nav-hideable' id='collabos'><span> collaborations in progress</span></a></li>
          <li><a href='#' class='icon-check nav-hideable' id='approved'><span> my approved</span></a></li>
          <li><a href='#' class='icon-suitcase nav-hideable' id='all'><span> all</span></a></li>
        <% else %>
          <li><%= link_to "<span> mine in progress</span>".html_safe, user_projects_path(current_user), :class => 'icon-beaker nav-hideable', :id => 'in-progress' %></li>
          <li><%= link_to "<span> collaborations in progress</span>".html_safe, user_projects_path(current_user), :class => 'icon-group nav-hideable', :id => 'collabos' %></li>
          <li><%= link_to "<span> my approved</span>".html_safe, user_projects_path(current_user), :class => 'icon-check nav-hideable', :id => 'approved' %></li>
          <li><%= link_to "<span> all</span>".html_safe, user_projects_path(current_user), :class => 'icon-suitcase nav-hideable', :id => 'all' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div id="wrapper">
  <section id="content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        </div><!--/span-->
        <div class="span10">
          <%= bootstrap_flash %>
        </div>
      </div><!--/row-->
    </div>
  </section>
</div>
