<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- this enables responsive features in browser -->
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "Loop'dIn" %></title>

    <!-- your & Flatty stylesheets -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= csrf_meta_tags %>

    <%= analytics_init if Rails.env.production? %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <% if user_signed_in? && request.path != '/' && request.path != '/users/edit' && !request.path.match(/demo/) %>
      <%= render :partial => 'layouts/navigation' %>
    <% end %>

    <%= yield %>
    <footer>
    </footer>
    <script>
      $("#in-progress").click(function(){
        $('.in_progress').show();
        $('.submitted').show();
        $('.approved').hide();
        $('.collaboration').hide();
      });

      $("#collabos").click(function(){
        $('.in_progress').hide();
        $('.submitted').hide();
        $('.approved').hide();
        $('.collaboration').show();
      });

      $("#approved").click(function(){
        $('.approved').show();
        $('.collaboration').hide();
        $('.in_progress').hide();
        $('.submitted').hide();
      });

      $("#all").click(function(){
        $('.approved').show();
        $('.collaboration').show();
        $('.in_progress').show();
        $('.submitted').show();
      });
    </script>

  </body>
</html>
